---
---
<div style="width: 100%; height: 450px; overflow: hidden; border-radius: 12px;">
  <iframe 
    src="https://www.google.com/maps/embed?pb=!4v1775732548451!6m8!1m7!1sqkW4N5Ldgx1EyQQv--18Hw!2m2!1d49.52670455285397!2d17.58553301139856!3f347.4114437988377!4f-4.87128225709472!5f0.78208659746274693" 
    width="100%" 
    height="100%" 
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>